$maxSize: 500px;
$blueSize: $maxSize - $maxSize/4;
$redSize: $blueSize - $blueSize/3;
$yellowSize: $redSize - $redSize /2;

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px
}

.circles {
  width: $maxSize;
  height: $maxSize;
}

.circle {
  position: absolute;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}

.black {
  width: $maxSize;
  height: $maxSize;
  background-color: #000;
  color: #000;
}

.red {
  width: $redSize;
  height: $redSize;
  background-color: #FF0000;
}

.blue {
  width: $blueSize;
  height: $blueSize;
  background-color: #0000FF;
}

.yellow {
  width: $yellowSize;
  height: $yellowSize;
  background-color: #FFFF00;
}


@media(max-width: $maxSize) {
  .circles{
    width: $maxSize * 0.9;
    height: $maxSize * 0.9;
  }

  .black{
    height: $maxSize * 0.9;
    width: $maxSize * 0.9;
  }

  .red{
    height: $redSize * 0.9;
    width: $redSize * 0.9;
  }

  .yellow{
    height: $yellowSize * 0.9;
    width: $yellowSize * 0.9;
  }
}


.labels{
  width: 140px;
}

.label{
  color: #000000;
  transition: color 0.3s ease;
}





