$maxSize: 500px;
$blueSize: $maxSize - $maxSize/4;
$redSize: $blueSize - $blueSize/3;
$yellowSize: $redSize - $redSize /2;


.circles {
  width: $maxSize;
  height: $maxSize;
  position: absolute;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.black {
  width: $maxSize;
  height: $maxSize;
  background-color: #000;
  color: #000;
}

.red {
  width: $redSize;
  height: $redSize;
  background-color: #FF0000;
}

.blue {
  width: $blueSize;
  height: $blueSize;
  background-color: #0000FF;
}

.yellow {
  width: $yellowSize;
  height: $yellowSize;
  background-color: #FFFF00;
}

.labels{
  position: absolute;
  width: 120px;
}

.label{
  color: #FF0000;
}





