$maxSize: 500px;
$blueSize: $maxSize - $maxSize/4;
$redSize: $blueSize - $blueSize/3;
$yellowSize: $redSize - $redSize /2;


.circles {
  width: $maxSize;
  height: $maxSize;
  position: absolute;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.black {
  width: $maxSize;
  height: $maxSize;
  background-color: #000;
  color: #000;
}

.red {
  width: $redSize;
  height: $redSize;
  background-color: #FF0000;
}

.blue {
  width: $blueSize;
  height: $blueSize;
  background-color: #0000FF;
}

.yellow {
  width: $yellowSize;
  height: $yellowSize;
  background-color: #FFFF00;
}


@media(max-width: $maxSize) {
  .circles{
    width: $maxSize * 0.9;
    height: $maxSize * 0.9;
  }

  .black{
    height: $maxSize * 0.9;
    width: $maxSize * 0.9;
  }

  .red{
    height: $redSize * 0.9;
    width: $redSize * 0.9;
  }

  .yellow{
    height: $yellowSize * 0.9;
    width: $yellowSize * 0.9;
  }
}


.labels{
  position: absolute;
  width: 140px;
}

.label{
  color: #FF0000;
}





